@model TarifacaoEnergiaEletrica.Models.ContaModel
@{
    ViewBag.Title = "Buscar Contas";
}


<h2>Buscar Contas</h2>

@using (Html.BeginForm("VisualizarContas", "Home", FormMethod.Post))
{
    <div class="input-div" id="input-dataIni">
        Data Inicial:
        @Html.DropDownList("listaMeses")
        

    </div>
    <p>Data Final</p>
    <div class="input-div" id="input-dataFim">
        
    </div>
    <div id="botoes">
        <input type="submit" name="btnSubmit" value="Buscar" />
        <input type="submit" name="btnSubmit" value="Gerar graficos" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}